@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('./common-style.css');
@import url('./authentication.css');
@import url('./variables.css');
@import url('./header.css');
@import url('./sidebar.css');
@import url('./loader.css');
@import url('./greetPopup.css');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a222c;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a {
    text-decoration: none;
    list-style: none;
    border: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 12px;
}

/* Css for form */

.form-label {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 2px;
    color: var(--black-color)
}

.input-fields {
    position: relative;
}

.form-control {
    border-radius: 5px;
    font-size: 14px;
    padding: 8px 12px;
    appearance: auto;
    -moz-appearance: auto;
    min-height: 40px;
    max-height: 40px;
}

.form-control.read-only {
    pointer-events: none;
    opacity: 0.7;
    background-color: #f0f0f0;
    cursor: none;
}

.form-fields textarea {
    min-height: 100px;
    max-height: 100px;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--theme-color);
}

i {
    color: var(--white-color);
    font-size: 18px;
}

/* End */

/* Dashboard cards */
.dashboard-card .card-box {
    border: 1px solid var(--border-color);
    padding: 25px;
    border-radius: 8px;
    background-color: var(--dashboard-card-light-bg);
}

.dashboard-card .card-box .card-header .card-icon {
    height: 48px;
    width: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-icon);
}

.dashboard-card .card-box .card-body .card-subtitle p {
    color: var(--gray-color);
    font-size: clamp(13px, 1vw, 16px);
    font-weight: 400;
    margin-top: 20px;
    line-height: normal;
}

.dashboard-card .card-box .card-body .card-subtitle h3 {
    font-weight: 600;
    color: var(--white-color);
    margin-top: 10px;
    font-size: clamp(22px, 2.5vw, 30px);
    line-height: normal;
}

.dashboard-card .card-box .card-body .card-subtitle span.card-badge.online,
.dashboard-card .card-box .card-body .card-subtitle span.card-badge.offline {
    padding: 2px 10px;
    font-size: clamp(12px, 1vw, 14px);
    color: var(--green-color);
    background-color: var(--light-success-bg);
    border-radius: 20px;
}

.dashboard-card .card-box .card-body .card-subtitle span.card-badge.offline {
    background-color: var(--offline-bg-color);
    color: var(--gray-color);
}

/* Doughnout chart */

.doughnoutChart-wrapper .doughnout-card{
    border: 1px solid var(--border-color);
    padding: 25px;
    border-radius: 8px;
    background-color: var(--dashboard-card-light-bg);   
    height: 100%;
}
.doughnout-card canvas {
    height: 480px !important;
    width: 480px !important;
}